<%- include('inc/head', { title: "Grants near " + postcode }); %>

<div class="hero hero--reading" role="complementary">
    <section class="hero__inner">
        <div class="inner accent--pink nudge-bottom">
            <h2 class="t1 m-b"><span>Funding near <%= postcode %></span></h2>
        </div>
    </section>
</div>
<article role="main" class="accent--pink">
    <div class="inner p accent-b-t accent-bg">
        <h3 class="t3">We awarded <%= grants.length %> grants near you:</h3>

        <ul class="grant-list">
            <% grants.forEach(function (g) { %>
                <li>
                    <%= g.recipientOrganization[0].name %>
                    (&pound;<%= g.amountAwarded %> awarded on <%= g.awardDate %>
                </li>
            <% }); %>
        </ul>
    </div>
</article>

<%- include('inc/footer', {}); %>