<%- include('inc/head', { title: "Grants near " + postcode }); %>

<div class="intrinsic-wrapper intrinsic-wrapper--reading">
    <section class="intrinsic-stretched hero hero__reading">
        <article class="content-area vert-cent">
            <h2>Funding near <%= postcode %></h2>
        </article>
    </section>
</div>

<section class="hero hero__stats">
    <article class="content-area">
        <h3>We awarded <%= grants.length %> grants near you:</h3>

        <ul class="grant-list">
            <% grants.forEach(function (g) { %>
                <li>
                    <%= g.recipientOrganization[0].name %>
                    (&pound;<%= g.amountAwarded %> awarded on <%= g.awardDate %>
                </li>
            <% }); %>
        </ul>
    </article>
</section>

<%- include('inc/footer', {}); %>